/*
CSS for About Section
*/

#about {
    background: rgb(199, 224, 226);
    margin: 0px;
    padding: 0px;
}


/* Title of section: About Me */
#section-name-about {
    color: rgb(33, 33, 58);
    font-size: 36px;
    padding-top: 24px;
    text-align: center;
}


/* Profile pic */
#profile-pic {
    border-radius: 100%;
    border: solid 0.5px black;
    height: 23vw;
    margin-left: 2%;
    object-fit: cover;
    overflow: hidden;
    position: relative;
    width: 23%;
}


/* About Me section*/
#about #about-me {
    border: 1px solid black;
    display: flex;
    float: right;
    padding-bottom: 20px;
    padding-top: 20px;
    position: relative;
    right: 3%;
    bottom: 80%;
    width: 60%;
}


/* animation when hovering over profile picture */
/* Credit for animation: https://webcode.tools/css-generator/keyframe-animation */
#profile-pic:hover {
    animation: profile-pic-anim 2s linear 0s 1 normal forwards;
}


@keyframes profile-pic-anim {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}

	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	45% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}


/* 
SUMMARY -- underneath profile picture 
===================================================== */
#summary {
    font-size:18px;
    left: 0%;
    list-style-type: none;
    margin: 16px;
    padding: 8px;
    position: relative;
    max-width: 30%;
}

#summary {  /* border of summary */
    border: 1px solid black;
    border-radius: 20px;
}

#summary:hover {
    animation: profile-pic-anim 2s linear 0s 1 normal forwards;
}