/*
CSS for About Section
*/


/* ABOUT 
======================================================= */
#about {
    background-color: rgb(128, 175, 201);
    background-size: cover;
    box-sizing: border-box;
    margin: 0px;
    padding: 16px;
}

#section-name-about {
    color: rgb(33, 33, 58);
    font-size: 3rem;
    padding-top: 4vw;
    text-align: center;
}

#about-container {
    display: flex;
    
}

