/* 
CSS for the Home Section 
*/

/* HOME 
======================================================= */
#home {
    background: url("../assets/background.JPG") no-repeat center;
    background-size: cover;
    height: 100vh;
    min-height: 500px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100vw;
}


/* BANNER
======================================================= */
header .banner {    
    background: transparent;
    height: 30vh;
    margin: 0 auto 18px auto;
    outline: 0px;
    width: 100vw;
}

header .banner {
    position: absolute;
    top: 35vh;
}


/* Name Banner */
.banner h1 {
    color: rgb(238, 238, 238);
    font-size: 7vw;
    letter-spacing: 2px;
    margin-bottom: 3vw;
    padding: 1vw;
    text-shadow: 1px 2px 2px rgb(0, 0, 0, 0.7);
}


.banner h3 {
    color: rgb(242, 242, 242);
    font-size: 1.5vw;
    line-height: 2.5vw;
    text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.7);
}


/* NAVBAR
======================================================= */
#nav-wrap {
    background: rgb(0, 0, 0, 0.75);
    box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.7);
    font: 2vh 'opensans-bold', sans-serif;
    height: 8vh;
    letter-spacing: 1px;
    margin: 0 auto;
    min-height: 56px;
    overflow: hidden;
    position: fixed;
    width: 100vw;
    z-index: 100;
}


/* center the section links of the navbar */
#nav {
    left: 30vw;
    position: absolute;
}


/* spacing between the section links in the navbar */
#nav li {
    padding-left: 16px;
    padding-right: 16px;
}


#nav-wrap li {
    float: left;
}


/* Remove default bullet points of unordered lists */
#nav-wrap ul {
    list-style-type: none;
    margin: 8px;
    overflow: hidden;
    padding: 0;
}


/* Change hyperlink color, and remove underline */
#nav-wrap li a {
    color: rgb(255, 255, 255);
    text-decoration-line: none;
}


#nav-wrap li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
}


/* change color when hovering over link */
#nav-wrap li a:hover{
    color: rgba(128, 213, 255, 0.6);
}


/* Navigation bar - Socials */
#nav-wrap .socials {
    list-style-type: none;
    margin: 0px;
    position: relative;
    right: -2vw;
    top: -1vh;
}


#nav-wrap .socials li {
    float: left;
}


#nav-wrap .socials li a {
    color: rgb(213, 213, 213);
    font-size: 3.5vh;
    margin: 0px;
    padding: 0px;
}


/* Change color of socials when hovering over them */
#nav-wrap .socials li a:hover {
    color: rgb(113, 175, 236);
}

