/* 
CSS for Portfolio Section

Author: Joseph Lee
*/


/* ====================================================
PORTFOLIO
======================================================= */
#portfolio {
    background-color: rgb(171, 137, 137);
    height: 30vw;
    margin: 0px;
    padding: 0px;
}


/* ====================================================
TITLE OF SECTION: PORTFOLIO
======================================================= */
#section-name-portfolio {
    color: rgb(0, 0, 0);
    font-size: 3.2vw;
    margin-bottom: 2.6vw;
    padding-top: 4vw;
    text-align: center;
}