/*
General CSS

Author: Joseph Lee
*/


/* REMOVE BROWSER DEFAULT SETTING */
* {
    padding:    0px;
    margin:     0px;
    box-sizing: border-box;
}


body {
    color:       #000000;
    font-family: 'opensans-regular', sans-serif;
    font-weight: normal;
}


head {
    display: none;
}


html {
    background-color: rgb(30, 30, 30);
    margin:           0;
    padding:          0;
    overflow:         auto;
    scroll-behavior:  smooth;
}


/* Edit horizontal line breaks */
hr {
    height: 1px;
    width:  100%;
}


/* ====================================================
JUMP TO TOP BUTTON
======================================================= */
#jump-to-top {
    color:      rgba(148, 197, 204, 0.8);
    font-size:  max(10vh, 36px);
    position:   fixed;
    right:      0px;
    bottom:     0px;
    z-index:    100;
}

/* Change Jump to Top button color when mouse is hovered over it */
#jump-to-top:hover {
    color:      rgba(217, 230, 255, 0.8);
    transition: 320ms;
}

#jump-to-top:not(hover) {
    transition: 320ms;
}
