/* REMOVE BROWSER DEFAULT SETTING */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body {
    color: #000000;
    font-family: 'opensans-regular', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}


head {
    display: none;
}


html {
    background-color: rgb(30, 30, 30);
    margin: 0;
    padding: 0;
    overflow: auto;
}


/* Edit horizontal line breaks */
hr {
    height: 2px;
    width: 100%;
}


/* Jump to Top Button */
#jump-to-top {
    border-radius: 100%;
    color: rgba(142, 154, 177, 0.8);
    font-size: 90px;
    margin: 0px;
    padding: 0px;
    position: fixed;
    right: 0px;
    bottom: 0px;
    z-index: 100;
}


/* TEMPORARY: WILL REMOVE LATER */
.temp {
    color: rgb(228, 0, 0);
    text-shadow: none;
}