/*
CSS for About Section
*/

/* ABOUT 
======================================================= */
#about {
    background-color: rgb(153, 206, 205);
    background-size: cover;
    box-sizing: border-box;
    margin: auto;
    padding: 16px 1vw 2.5em 1vw;
}

#section-name-about {
    color: rgb(33, 33, 58);
    font-size: 3rem;
    padding: 3.5vw 0px 0.25em 0px;
    text-align: center;
}

#about-container {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: stretch;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 8px auto;
    width: 87vw;
    max-width: 1020px;
}

.card {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.6);
    margin: 16px;
    padding: 24px;
    word-wrap: break-word;
}
.card:hover {
    transform: scale(1.08);
    transition: 200ms;
}
.card h3 {
    font-size: 28px;
    padding: 16px 0px;
    text-align: center;
}
.card span {
    font-weight: bold;
    padding-right: 4px;
}
.card p {
    font-size: 18px;
    line-height: 1.5;
    margin: 5px;
    padding: 6px 0px;
}
.card ul {
    margin-left: 8px;
    font-size: 18px;
}
.card li {
    margin: 8px 0px;
}

#about-section-1,
#about-section-2,
#about-section-3 {
    display: flex;
    flex-direction: column;
}

#about-section-1 #profile ul,
#about-section-2 #education ul {
    list-style-type: none;
}


/* SECTION 1 */

/* Profile */
#about-section-1 #profile {
    background-color: rgba(245, 245, 245, 0.78);
    min-width: 240px;
    padding: 24px 16px;
    text-align: center;
}
#about-section-1 #profile img {
    aspect-ratio: 1;
    border: 1px solid black;
    border-radius: 50%;
    height: min(80vw, 200px);
    margin: 12px 0px;
    object-fit: cover;
}
#about-section-1 #profile #contacts {
    text-align: justify;
}
#about-section-1 #profile li {
    margin: 10px 0px;
}
#about-section-1 #profile a {
    color: rgb(5, 85, 165);
    text-decoration: none;
}
#about-section-1 #profile a:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* Summary */
#about-section-1 #summary {
    background-color: rgba(254, 239, 227, 0.764);
    padding: 16px;
}


/* SECTION 2 */

/* Education */
#about-section-2 #education {
    background-color: rgba(186, 211, 251, 0.708);
    text-align: center;
}
#about-section-2 #education img {
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.6);
    height: 110px;
    margin: 16px 0px 8px 0px;
    z-index: 1;
}
#about-section-2 #education ul {
    text-align: left;
}
#about-section-2 #education #clubs-ul {
    list-style-type: disc;
    padding-left: 16px;
}

/* Courses */
#about-section-2 #courses {
    background-color: rgba(253, 228, 132, 0.833);
}
#about-section-2 #courses #courses-container {
    display: flex;
    flex-direction: column;
}


/* SECTION 3 */

/* Skills */
#about-section-3 #skills {
    background-color: rgba(191, 255, 176, 0.757);
}
#about-section-3 #skills-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#about-section-3 #skills h4 {
    font-size: 20px;
    margin: 12px 0px;
}
#soft-skills,
#languages,
#technical-skills {
    margin: 8px 6px;
}


/* TABLET */
@media
    only screen
    and (min-width: 700px)
{
    #about-container {
        width: 90vw;
    }

    #about-section-1,
    #about-section-2,
    #about-section-3 {
        flex-direction: row;
    }

    .card p,
    .card li {
        font-size: 20px;
    }
    .card h3 {
        font-size: 30px;
    }

    /* SECTION 1 */

    /* Profile */
    #about-section-1 #profile {
        flex-basis: 35%;
    }
    #about-section-1 #profile img {
        height: min(25vw, 220px);
    }

    /* Summary */
    #about-section-1 #summary {
        flex-basis: 65%;
    }

    /* SECTION 2 */

    /* Education */
    #about-section-2 #education {
        flex-basis: 45%;
    }

    /* Courses */
    #about-section-2 #courses {
        flex-basis: 55%;
    }
    #about-section-2 #courses #courses-container {
        flex-direction: column;
    }

    /* SECTION 3 */

    /* Skills */
    #about-section-3 #skills {
        flex-basis: 100%;
    }
    #about-section-3 #skills-container {
        flex-direction: row;
    }
}


/* DESKTOP */
@media
    only screen
    and (min-width: 780px)
{
    #about-container { 
        max-width: 1440px;
    }

    /* SECTION 1 */

    /* Profile */
    #about-section-1 #profile {
        flex-basis: 35%;
    }
    #about-section-1 #profile img {
        height: min(25vw, 240px);
    }

    /* Summary */
    #about-section-1 #summary {
        flex-basis: 65%;
    }

    /* SECTION 2 */

    /* Education */
    #about-section-2 #education {
        flex-basis: 45%;
    }

    /* Courses */
    #about-section-2 #courses {
        flex-basis: 55%;
    }

    /* SECTION 3 */

    /* Skills */
    #about-section-3 #skills {
        flex-basis: 100%;
    }
    #about-section-3 #skills-container {
        flex-direction: row;
    }
}

/* Change flex direction for course containers */
@media
    only screen
    and (min-width: 970px)
{
    #about-section-2 #courses #courses-container {
        flex-direction: row;
        justify-content: space-around;
    }

    #courses-col-1, 
    #courses-col-2 {
        flex-basis: 45%;
        margin: 4px 8px;
    }
}