/* 
CSS for Home Section 
*/

/* HOME 
======================================== */
#home {
    align-items: center;
    background-image: url("../assets/background.JPG");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 100vh;
    min-height: 560px;
    overflow: hidden;
    text-align: center;
    width: 100%;
}

/* BANNER
======================================== */
#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 1vw;
    min-height: 240px;
    max-width: 1024px;
    text-align: center;
    width: 85%;
}
#banner > h1 {
    color: rgb(238, 238, 238);
    font-size: 48px;
    letter-spacing: 2px;
    margin-bottom: 8px;
    padding: 4px 0;
    text-shadow: 1px 2px 2px rgb(0, 0, 0, 0.7);
}
#banner > h3 {
    color: rgb(242, 242, 242);
    font-size: 16px;
    letter-spacing: 1.4px;
    padding: 0px;
    margin: 6px 4px;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.7);
    width: 100%;
}

/* SCROLL DOWN
======================================== */
#scroll-down {
    aspect-ratio: 1;
    color: rgba(70, 237, 215, 0.809);
    font-size: 64px;
    position: absolute;
    bottom: 1vh;
}
#scroll-down:hover {
    color: rgba(188, 242, 255, 0.75);
    transition: 300ms;
    transform: scale(1.1);
}
#scroll-down:not(:hover) {
    transition: 300ms;
}


/* Tablet */
@media
    only screen
    and (min-width: 375px)
    and (max-width: 1024px)
{   
    #banner h1 {
        font-size: min(10vw, 65px);
    }

    #banner h3 {
        font-size: min(4vw, 24px);
    }
}


/* Desktop */
@media
    only screen
    and (min-width: 1024px)
{
    #banner h1 {
        font-size: min(6.7vw, 90px)
    }

    #banner h3 {
        font-size: min(2.5vw, 22px);
    }
}