#intro {
    background-color: var(--main-bg-color);
    background-image: url("../assets/background.JPG");
    background-position: center right;
    background-size: cover;
    color: var(--main-intro-color);
    font-family: var(--main-intro-font);
    height: clamp(600px, 93vh, 1000px);
    width: 100%;
}

#intro-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding: 0 20px;
}
#intro-content h1 {
    font-size: 4.5em;
    margin-bottom: 18px;
}
#intro-content p {
    font-size: 1.5em;
    max-width: 800px;
}

#intro #scroll-down {
    animation: bounce 2s infinite;
    color: rgba(255, 255, 255, 0.8);
    font-size: 5em;
    position: absolute;
    bottom: 70px;
    text-decoration: none;
    transition: all 0.35s linear;
    z-index: 10;
}
#intro #scroll-down:hover {
    animation: none;
    color: rgba(255, 255, 255, 0.8);
    font-size: 5.5em;
    transition: all 0.3s ease-in-out;
}