nav {
    background-color: #161616;
    height: clamp(60px, 8vh, 64px);
    /* overflow: hidden; */
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#navbar-left {
    display: flex;
    align-items: center;
}

#logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}
#logo img {
    height: 40px;
    vertical-align: middle;
    margin-right: 14px;
}
#logo a {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

#navbar-center {
    text-align: center;
}
#navbar-center-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
#navbar-center-menu li {
    display: inline;
}
#navbar-center-menu li a {
    color: white;
    padding: 8px 12px;
    text-decoration: none;
}
#navbar-center-menu li a:hover {
    background-color: #333333;
    border-radius: 5px;
    color: #c5c5c5;
    padding: 5px 10px;
    transition: all 0.3s ease;
}

#navbar-right {
    display: flex;
    align-items: center;
}
#navbar-right #socials-container a {
    color: rgb(236, 236, 236);
    font-size: 32px;
    margin-left: 15px;
    text-decoration: none;
}
#navbar-right #socials-container a:hover {
    color: #93a1ab;
    transition: color 0.3s ease;
}

/* MOBILE MENU */
#mobile-menu {
    display: none;
    color: rgb(236, 236, 236);
    font-size: 32px;
}
#mobile-menu:hover {
    color: #93a1ab;
    cursor: pointer;
}

#mobile-menu-content {
    position: absolute;
    top: 100%;
    right: 20px;
    background-color: #161616;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1001;
}

#mobile-navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
}

#mobile-navbar-center-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#mobile-navbar-center-menu li {
    border-bottom: 1px solid #333333;
}
#mobile-navbar-center-menu li a {
    display: block;
    color: rgb(240, 240, 240);
    padding: 10px 20px;
    text-decoration: none;
}
#mobile-navbar-center-menu li a:hover {
    background-color: #333333;
    color: #c5c5c5;
    transition: all 0.3s ease;
}

#mobile-navbar-socials
.social-links {
    display: inline-block;
    color: rgb(236, 236, 236);
    font-size: 28px;
    margin: 10px 15px;
    text-decoration: none;
}
#mobile-navbar-socials
.social-links:hover {
    color: #93a1ab;
    transition: color 0.3s ease;
}


@media screen
    and (max-width: 985px)
{
    #navbar-right {
        display: none;
    }

    #mobile-menu {
        display: block;
    }
}

@media screen
    and (max-width: 850px) 
{
    #navbar-center-menu {
        display: none;
    }
}