/* 
CSS for Portfolio Section
*/

/* PORTFOLIO
======================================================= */
#portfolio {
    background-color: rgb(142, 158, 181);
    margin: 0px;
    padding: 28px;
}

#section-name-portfolio {
    color: rgb(0, 0, 0);
    font-size: 3rem;
    padding: 3.5vw 0px 0.25em 0px;
    text-align: center;
}

#section-summary-portfolio {
    font-size: clamp(1.1rem, 15vw, 1.4rem);
    line-height: 1.5;
    margin: 32px auto;
    margin-top: clamp(8px, 2vw, 16px);
    text-align: center;
    width: clamp(120px, 80%, 1200px);
}

/* PORTFOLIO PROJECT CONTAINER */
#portfolio-container {
    background-color: rgba(194, 220, 233, 0.188);
    border: 1px solid rgba(65, 64, 69, 0.343);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 32px;
    margin-top: clamp(8px, 2vw, 16px);
    padding: clamp(8px, 2vw, 16px);
    justify-content: center;
    width: 98%;
    max-width: 1800px;
}

/* PROJECT CARDS */
.project-card {
    background-color: rgb(209, 217, 225);
    border: 1px solid black;
    border-radius: 14px;
    box-shadow: 1px 3px 3px 2px rgba(0, 0, 0, 0.43);
    display: flex;
    flex-direction: column;
    margin: 16px;
    padding: 24px;
    word-wrap: break-word;
}
.project-card:hover {
    transform: scale(1.02);
    transition: 120ms;
}

.project-card img {
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px auto;
    overflow: wrap;
    width: clamp(50px, 90%, 600px);
}

.project-description-container {
    display: flex;
    flex-basis: 56%;
    flex-direction: column;
    margin: 8px;
}

.project-title {
    color: rgb(0, 0, 0);
    font-size: 1.6em;
    margin: 6px auto;
    margin-top: clamp(8px, 1vw, 12px);
    padding: 4px;
}

.project-tools-skills {
    color: rgb(54, 54, 54);
    margin: 8px auto;
    font-style: italic;
}

.project-summary {
    font-size: 1.2em;
    padding: 2px;
    margin: clamp(8px, 1%, 12px) auto;
}

.project-links {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: clamp(12px, 2%, 200px);
    margin-bottom: clamp(16px, 4%, 24px);
}

.project-link {
    background-color: rgb(20, 119, 117);
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 3px 6px 0px #0000006e;
    color: rgb(219, 221, 223);
    font-size: clamp(0.8em, 2vw, 1.2em);
    margin: 8px;
    padding: 12px 36px;
    text-decoration: none;
}
.project-link:hover {
    background-color: rgb(51, 70, 80);
    cursor: pointer;
}

.project-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 12px;
    margin-bottom: 18px;
}
.project-tag {
    background-color: rgba(159, 173, 177, 0.555);
    border-radius: 10px;
    box-shadow: 1px 1px 5px 0.4px #00000041;
    color: rgba(42, 46, 48, 0.827);
    font-size: 0.9rem;
    padding: 6px 14px;
    margin-right: 6px;
}


@media
    only screen
    and (min-width: 670px)
{
    #portfolio-container {
        width: 90%;
    }

    .project-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        margin-bottom: 28px;
        width: clamp(300px, 64%, 800px);
    }

    .project-card img {
        border: 1px solid black;
        margin: 8px 10px;
        width: clamp(200px, 90%, 900px);
    }
}


@media
    only screen
    and (min-width: 1120px)
{
    #portfolio-container {
        width: 87%;
    }

    .project-card {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 32px auto;
        width: 67vw;
        max-width: 1024px;
    }

    .project-card img {
        border: 1px solid black;
        margin: 16px 28px;
        width: clamp(300px, 50%, 600px);
    }
}