#section-1 {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    padding: 56px 0px;
}
#section-1 h2 {
    font-size: 42px;
    margin-bottom: 12px;
    text-align: center;
}

#about-container {
    background-color: rgba(251, 246, 246, 0.4);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
    width: 90vw;
}

#about-container
#about-left-section {
    flex-basis: 30%;
    padding: 8px 16px;
    padding-top: 36px;
}

#about-container
#about-left-section ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

#about-container
#about-right-section {
    flex-basis: 70%;
    padding: 16px 10px;
    text-align: left;
}

#about-me-subsection-1,
#about-me-subsection-2, 
#about-me-subsection-3 {
    margin-bottom: 16px;
    padding: 10px;
}
#about-me-subsection-1,
#about-me-subsection-2 {
    border-bottom: 2px solid rgba(128, 128, 128, 0.226);
}

#about-container img {
    border: 2px solid rgba(49, 49, 49, 0.533);
    border-radius: 50%;
    height: clamp(120px, 50vw, 480px);
    width: clamp(120px, 50vw, 480px);
    margin-bottom: 12px;
    object-fit: cover;
}

#about-container h3 {
    font-size: 28px;
    margin-bottom: 8px;
    margin-top: 12px;
}

#about-container p {
    font-size: 18px;
    line-height: 1.6;
}

#about-container a {
    color: var(--link-color);
    text-decoration: none;
}
#about-container a:hover {
    text-decoration: underline;
}

/*
Responsive Design for Screens wider than 768px
*/
@media
    only screen
    and (min-width: 768px)
{
    #about-container {
        flex-direction: row;
    }

    #about-container #about-left-section img {
        height: clamp(120px, 30vw, 240px);
        width: clamp(120px, 30vw, 240px);
    }

    #about-container #about-left-section {
        margin-right: 16px;
    }
}