/* Remove Browser Default Settings */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    background-color: rgb(30, 30, 30);
    font-family: 'opensans-regular', sans-serif;
    font-size: 16px;
    overflow: auto;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
}

/* JUMP TO TOP
======================================== */
#jump-to-top {
    color: rgba(50, 63, 66, 0.8);
    display: none;
    font-size: max(10vh, 56px);
    padding: 0px;
    margin: 0px;
    position: fixed;
    right: 5px;
    bottom: 0px;
    z-index: 100;
}
#jump-to-top:hover {
    color: rgba(73, 148, 195, 0.8);
    font-size: max(11vh, 57px);
    transition: 300ms;
}
#jump-to-top:not(hover) {
    transition: 300ms;
}


/* NAVBAR
======================================== */
#nav-container {
    background-color: rgba(19, 19, 19, 0.87);
    box-shadow: 1px 0px 10px 1px #000000;;
    display: flex;
    height: 78px;
    overflow: hidden;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 100;
}

/* Logo */
#nav-container #logo {
    margin: 0px 0.2em;
    padding: 0px 0.8em;
    position: absolute;
    top: 1em;
}
#nav-container #logo #logo-icon {
    font-size: 44px;
    color: rgb(127, 142, 144);
}
#nav-container #logo #logo-icon:hover {
    cursor: pointer;
    color: rgb(193, 193, 193)
}

#nav-container #nav, 
#nav-container #socials {
    display: none;
}

/* Mobile Menu */
#nav-container #mobile-menu {
    color: white;
    display: block;
    font-size: 48px;
    margin: 0.25em 0.2em;
    position: absolute;
    right: 1%;
    top: 0.1em;
}
#nav-container #mobile-menu:hover {
    color: rgb(101, 145, 168);
    cursor: pointer;
    transform: scale(1.1);
}

#nav-container #nav #nav-ul .active > a {
    color: rgb(74, 96, 98);
    pointer-events: none;
}


/* Tablet */
@media
    only screen
    and (min-width: 720px)
{
    #nav-container {
        display: flex;
        flex-direction: row;
    }

    /* Nav */
    #nav-container #nav {
        display: block;
        margin: 1.5em min(3vw, 20px);
        position: absolute;
        left: 23vw;
        width: 56vw;
        max-width: 800px;
    }
    #nav-container #nav li {
        float: left;
        list-style-type: none;
        padding: 3px min(2.6vw, 35px);
    }
    #nav-container #nav li a {
        color: rgb(232, 232, 232);
        font-size: min(1.3vw, 17px);
        letter-spacing: 1.5px;
        text-decoration: none;
    }
    #nav-container #nav li a:hover {
        background-color: rgba(102, 102, 102, 0.3);
        border-radius: 10px;
        color: rgb(17, 171, 179);
        cursor: pointer;
        font-size: min(1.35vw, 19px);
        padding: 8px;
        transition: 300ms;
    }

    /* Socials */
    #nav-container #socials,
    #nav-container #socials li {
        display: none;
    }
}


/* Desktop */
@media
    only screen
    and (min-width: 1024px)
{
    /* Nav */
    #nav-container #nav {
        margin-left: min(3.2vw, 3.8em);
        width: min(60vw, 800px);
    }

    /* Socials */
    #nav-container #socials {
        display: block;
        margin: 1.4em 2%;
        position: absolute;
        left: 78%;
        width: 15em;
    }
    #nav-container #socials li {
        display: block;
        padding: 0px 9%;
        float: left;
        list-style-type: none;
    }
    #nav-container #socials li a {
        color: rgb(206, 206, 206);
        font-size: max(1.4vw, 26px);
        :hover {
            color: rgb(82, 117, 147);
            cursor: pointer;
        }
    }

    #nav-container #mobile-menu {
        display: none;
    }
}